@import "@/styles/variables.scss";

.#{$prefix} {

  &-index-wrap {
    width: 100%;
    min-height: 100vh;


    .user-info {

      &__avatar {
        color: #333;
      }

      &__nickname {
        color: rgb(44, 130, 230)
      }
    }
  }
}
