@import "@/styles/variables.scss";
@import "@/styles/mixins/index.scss";

$fx-search-bar-font-size: 15PX;
$fx-search-bar-input-height: 30PX;
$fx-search-bar-input-padding: 25PX;
$fx-search-bar-btn-padding: 10PX;
$fx-search-bar-placeholder-padding: 12PX;
$fx-search-bar-input-bg-color: rgba(228, 228, 228, 0.05);
$fx-search-bar-input-color: rgba(248, 248, 248, 0.897);
$fx-search-bar-placholder-color: #fffa;


.#{$prefix} {
  &-search-bar {
    display: flex;
    align-items: center;
    padding: 10rpx 15rpx;
    background-color: none;
    overflow: hidden;
    box-sizing: border-box;

    /* elements */
    &__input-cnt {
      position: relative;
      flex: 1;
      width: 100%;
      height: $fx-search-bar-input-height;
      background-color: $fx-search-bar-input-bg-color;
      border-radius: $fx-search-bar-input-height / 2;
      // border-radius: 26rpx;
      border: 2rpx solid rgba(255, 255, 255, 0.2);
      overflow: hidden;
      display: flex;
    }

    &__placeholder-wrap {
      // position: absolute;
      // top: 0;
      // left: 0;

      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      padding: 0 $fx-search-bar-placeholder-padding;
      // width: 100%;
      height: $fx-search-bar-input-height;
      line-height: 0;
      vertical-align: middle;
      opacity: 1;
      transition: flex 0.3s;
      // background: #0084ff;

      .iconfont {
        color: $fx-search-bar-placholder-color;
        font-size: $fx-search-bar-font-size;
        flex-shrink: 0;
      }



      .icon-search {
        font-size: 34rpx;
      }
    }

    &__placeholder {
      // margin-left: $fx-search-bar-placeholder-padding;
      margin-left: 10rpx;
      color: $fx-search-bar-placholder-color;
      font-size: $fx-search-bar-font-size - 2;
      flex-shrink: 0;
    }

    &__input {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: $fx-search-bar-input-height !important;
      padding: 0 $fx-search-bar-input-padding + $fx-search-bar-placeholder-padding;
      color: $fx-search-bar-input-color;
      font-size: $fx-search-bar-font-size !important;
      text-align: left;
      background-color: transparent;
      transition: width 0.3s;
      box-sizing: border-box;
    }

    &__clear {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: $fx-search-bar-placeholder-padding;
      height: $fx-search-bar-input-height;
      width: $fx-search-bar-input-padding;
      color: $fx-search-bar-placholder-color;
      font-size: $fx-search-bar-font-size;
      line-height: 0;
      vertical-align: middle;

      .icon-clear_circle_outlined {
        font-size: 34rpx;
      }
    }

    &__action {
      flex: none;
      display: block;
      margin-left: 10PX;
      padding: 0 $fx-search-bar-btn-padding;
      height: $fx-search-bar-input-height;
      color: #fff;
      font-size: $fx-search-bar-font-size;
      line-height: $fx-search-bar-input-height;
      border-radius: 4PX;
      background-color: #40a7e7dc;
      transition: margin-right 0.3s, opacity 0.3s;
      opacity: 0;
    }

    /* modifiers */
    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
    }
  }
}
