@import "@/styles/variables.scss";

$icon-wh:60rpx;

.#{$prefix} {

  &-index-wrap {
    width: 100%;
    min-height: 100vh;



    .daily-image-wrap {
      position: fixed;
      z-index: 1;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      >.daily-image {
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
        position: fixed;

        &-default {
          opacity: 1;
          height: 100%;
          width: 100%;
          z-index: 1;
          position: fixed;
        }
      }
    }

    .mask-layer {
      z-index: 3;
      position: fixed;
      background-color: rgba(#000000, 0.3);
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .content-wrap {
      position: relative;
      z-index: 5;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: first baseline;
      align-items: center;
      // height: 80vh;

      >.index-title {
        text-align: center;
        position: fixed;
        top: 64rpx;
        width: 100%;
        line-height: 35rpx;
        display: block;
        font-size: 38rpx;
      }

      >.weather-wrap {
        position: relative;
        margin-top: 160rpx;
        width: 100%;
        height: 150rpx;

        .weather-info {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          margin-left: 30rpx;
          opacity: 0.8;

          &__tmp {
            font-size: 220%;
            text-align: center;
            align-self: center;
          }

          &__rightbox {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: space-around;
            margin-left: 10rpx;

          }

          &__condicon {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          &__cond {
            font-size: 30rpx
          }

          &__location {
            font-size: 30rpx;
          }

          // &__icon {
          //   width: $icon-wh;
          //   height: $icon-wh;
          //   filter: brightness(100);
          // }

          &__icon--mask {
            width: $icon-wh;
            height: $icon-wh;
            background-color: #fff;
          }
        }
      }

      >.user-wrap {
        position: relative;
        height: 150rpx;
        opacity: 0;

        .user-avatar {
          width: 150rpx;
          height: 150rpx;
        }
      }

      >.clock-wrap {
        opacity: 0;
      }

      >.greeting-text {
        font-size: 100%;
        margin-top: 60rpx;
      }

      >.quote-wrap {
        max-width: 85vw;
        margin-top: 130rpx;
        opacity: 0;

        .quote-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          opacity: 0.8;
          // background-color: rgba(256, 256, 256, 0.2);
          // padding: 15px 10px;
          // border-radius: 10px;
          // min-width: 60vw;


          &__text {
            font-size: 36rpx;
            text-align: center;
            line-height: 50rpx;

          }

          &__author {
            font-size: 27rpx;
            margin-top: 30rpx;
            line-height: 33rpx;
          }
        }
      }
    }

  }
}
