@import "@/styles/variables.scss";

@keyframes xz {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

;

$icon-wh:50rpx;

.#{$prefix} {

  &-index-wrap {
    width: 100%;
    min-height: 100vh;



    .daily-image-wrap {
      position: fixed;
      z-index: 1;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      >.daily-image {
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
        position: fixed;

        &-default {
          opacity: 1;
          height: 100%;
          width: 100%;
          z-index: 1;
          position: fixed;
        }
      }
    }

    .mask-layer {
      z-index: 3;
      position: fixed;
      background-color: rgba(#000000, 0.3);
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .content-wrap {
      position: relative;
      z-index: 5;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: first baseline;
      align-items: center;
      // height: 80vh;

      >.index-title {
        text-align: center;
        position: fixed;
        top: 64rpx;
        width: 100%;
        line-height: 35rpx;
        display: block;
        font-size: 38rpx;
      }

      >.top-wrap {
        width: 100%;
        height: 200rpx;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 150rpx;


        .user-wrap {
          position: relative;
          height: 150rpx;
          left: 30rpx;

          .user-avatar {
            margin-top: 20rpx;
            display: block;
            width: 80rpx;
            height: 80rpx;
            -moz-border-radius: 30rpx;
            -webkit-border-radius: 30rpx;
            border-radius: 12rpx;
            overflow: hidden;
            opacity: 0;
          }
        }

        .greeting-text {
          font-size: 24rpx;
          margin-top: 10rpx;
          margin-left: 8rpx;
          opacity: 0.2;
          height: 60rpx;
        }

        .weather-wrap {
          height: 150rpx;
          opacity: 0;
          position: relative;
          right: 30rpx;

          .weather-info {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;


            &__tmp {
              font-size: 220%;
              text-align: center;
              align-self: center;
            }

            &__rightbox {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              align-content: space-around;
              margin-left: 10rpx;

            }

            &__condicon {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            &__cond {
              font-size: 27rpx
            }

            &__location {
              font-size: 26rpx;
            }

            // &__icon {
            //   width: $icon-wh;
            //   height: $icon-wh;
            //   filter: brightness(100);
            // }

            &__icon--mask {
              width: $icon-wh;
              height: $icon-wh;
              background-color: #fff;
            }
          }
        }
      }



      >.clock-wrap {
        margin-top: 110rpx;
        opacity: 0;
      }



      >.iconfont-wrap {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 40vw;
        height: 80rpx;
        opacity: 0.6;
        margin-top: 50rpx;

        >.iconrefresh {
          font-size: 70rpx;

          &--active {
            animation: xz 1s linear 1;
          }
        }

        >.iconshare {
          font-size: 70rpx;
        }

      }

      >.quote-wrap {
        max-width: 85vw;
        margin-top: 100rpx;
        opacity: 0;
        min-height: 200rpx;

        .quote-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          opacity: 0.8;
          // background-color: rgba(256, 256, 256, 0.2);
          // padding: 15px 10px;
          // border-radius: 10px;
          // min-width: 60vw;


          &__text {
            font-size: 36rpx;
            text-align: center;
            line-height: 50rpx;

          }

          &__author {
            font-size: 28rpx;
            margin-top: 40rpx;
            line-height: 33rpx;
          }
        }
      }

      >.action-panel-wrap {
        width: 100%;
        height: 200rpx;

      }

    }

    .share-btn {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;

    }
  }
}
